.DraftEditor-root {
  background: #fff;
  /* border: 1px solid #ddd; */
  font-family: 'Georgia', serif;
  font-size: 1.4rem;
  color: #333;
  /* padding: 15px; */
}

.RichEditor-title {
  padding-inline: 0px;
  border: none;
  border-radius: 0;
  border-left: 3px solid transparent;
  font-weight: 600;
  font-size: 2.3rem;
  margin-bottom: 12px;
  color: #333;
  font-family: 'Georgia', serif;
}

.RichEditor-title::placeholder {
  font-weight: normal;
}

.RichEditor-title:focus {
  box-shadow: none;
  border-left: 3px solid #c8c8c8;
}

.RichEditor-title:focus::placeholder {
  opacity: 0.6;
}

.DraftEditor-root .public-DraftEditorPlaceholder-root,
.DraftEditor-root .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.DraftEditor-root .public-DraftEditor-content {
  min-height: 100px;
}

.DraftEditor-root .public-DraftEditor-content > div {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.DraftEditor-root .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.DraftEditor-root .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  user-select: none;
  display: inline-block;
}

.RichEditor-controls:nth-child(2) {
  border-left: 1px solid #acacac;
  padding-left: 18px;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  border-radius: 8px;
  border: none;
}

.RichEditor-activeButton {
  color: #5890ff;
}
